<%= form_for(@produto) do |f| %>
  <% if @produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% @produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :importante %><br>
    <%= f.label :importante, "Sim", :value => "sim"  %>
    <%= f.radio_button :importante, true %>
    <%= f.label :favorito, "Não", :value => "nao" %>
    <%= f.radio_button :importante, false, :checked => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
